:root{
      --primary-color: #98C23C;
      --secondary-color: #424242;
      --content-size: 22px;
      --container-width: 1280px;
      --container-padding: 30px;
      --primary-font: 'Rajdhani', sans-serif;
      --button-height: 41px;
} 